.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--accent-color);
    color: #ffffff;
    font-weight: 600;
    border-radius: 50px;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

.btn:hover {
    background-color: #ddd;
    transform: scale(1.05);
}