.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}